@import '../../styles/mixins';

.result-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.result-list__item {
  border-bottom: 1px solid lightgray;
  padding: toRem(10);

  a {
    color: #00408A;

    &:hover {
      color: #0054B8;
      text-decoration: underline;
    }
  }
}