@import '../../styles/mixins';

.result-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.result-list__item {
  border-bottom: pxtorem(1) solid lightgray;
  padding: pxtorem(10);

  .result-list__link {
    color: #00408A;
    display: flex;
    align-items: center;

    &:hover {
      color: #0054B8;
      text-decoration: underline;
    }
  }
}

.result-list__item-image {
  height: pxtorem(100);
  width: pxtorem(100);
  margin-right: pxtorem(20);
  flex-shrink: 0;
}

.result-list__item-title {
  margin-left: pxtorem(10);
}
