@import '../../styles/mixins';

.header {
  background-color: #f8f9fa;
  padding: pxtorem(16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: pxtorem(10);

  h1 {
    margin: 0;
  }
}