@import '../../styles/mixins';

.detail-page {
  h1 {
    margin-top: toRem(16);
    margin-bottom: toRem(32);
  }

  &__back-button {
    margin-bottom: toRem(10);
  }

  &__definition-list {
    display: grid;
    grid-template-columns: max-content auto;
    gap: toRem(16);
    margin: toRem(16) 0;

    dt {
      font-weight: bold;

      &::after {
        content: ':';
      }
    }

    dd {
      margin: 0;
    }
  }

  &__value-list {
    margin: 0;
    padding-inline-start: toRem(15);

    .detail-page__definition-list {
      margin: 0;
    }
  }

  &__value-list-item {
    margin-bottom: toRem(10);
  }
}