@import '../../styles/mixins';

.search {
  margin-bottom: toRem(20);
}

.search__form {
  width: 100%;
}

.search__form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  label {
    margin-right: toRem(10);
  }

  input {
    height: toRem(25);
    margin-right: toRem(10);
    width: 100%;
  }
}