@import '../../styles/mixins';

.search {
  margin-bottom: pxtorem(20);
}

.search__form {
  width: 100%;
}

.search__form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  label {
    margin-right: pxtorem(10);
  }

  input {
    height: pxtorem(25);
    margin-right: pxtorem(10);
    width: 100%;
  }
}